---
layout: base
title: Iwashigumo - A könyv
---
{% for post in site.posts limit:1 %}
  <div id="container">
    <div class="page-nav-top row">
      {% if post.previous %}
        <span class="page-nav-item six columns">
          <a rel="prev" href="{{ post.previous.url }}/"
              title="View {{ post.previous.title }}"
          >&larr; Előző részlet a könyvből</a>
        </span>
      {% else %}
        <span class="page-nav-item six columns">
            <a href="/" title="Front page">Ez volt az első részlet a könyvből. <br/>Visszamennél a főoldalra?</a>
          </span>
      {% endif %}
      {% if post.next %}
        <span class="page-nav-item six columns">
          <a rel="next" href="{{ post.next.url }}/"
              title="View {{ post.next.title }}"
          >Következő részlet a könyvből &rarr;</a>
        </span>
      {% endif %}
    </div> <!-- /.page-nav-top -->
    <div class="entry-content">
      <h1 class="clear">
        <a href="{{ post.url }}/" title="{{ post.title }}">
          {{ post.title }}
        </a>
      </h1>
     <div class="date"
          title="{{ post.date | date_to_xmlschema }}">
        <span class="published">Közzétéve: </span>
        <span class="year">{{ post.date | date: '%Y' }}.</span>
        <span class="month">{{ post.date | date: '%m' }}. </span>
        <span class="day">{{ post.date | date: '%d' }}. </span>
      </div>
      {{ post.content }}
      <div class="panel">
        <p>Szeretnél <a href="{{ post.url }}/#disqus_thread">hozzászólni ehhez valamit?</a></p>
      </div>
    </div> <!-- /.entry-content -->
  </div> <!-- /#container -->
{% endfor %}

